(
    name: "rusher",
    army_threshold: 2,
    courage: 0.55,
    engineer_first: false,
    second_solar: false,
    mix: ((HeavyTank, 6), (LightTank, 3), (Artillery, 1)),
    max_turrets: 0,
    max_lance: 0,
    max_walls: 0,
    max_metals: 2,
    max_solars: 2,
    max_factories: 1,
    max_engineers: 1,
    retreat_hp_frac: 0.25,
    focus_fire: true,
    attack_at_tick: 18446744073709551615,
    scout_threat_weight: 0.5,
    commander_commit_prob: 0.9,
)
